*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    background-color: black;

}

.fa-solid.fa-table-cells{
    color: white;
}
.nav{
    display: flex;
    justify-content: flex-end;
    gap: 5px;


}
.top-left{
    background-color:dimgray ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.top-right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dimgray;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    color: white;
    margin-right: 10px;
}
.img{
    /* background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fpicsum.photos%2F250%2F250); */
}
.conteiner{
    width: 100vw;
    height: 100vh;
    padding-top: 4rem;
    padding-inline: 2rem;
    padding-bottom: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    overflow: scroll;
}

.button-bar{
    background-color: dimgrey;
    width: 100vw;
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    display: flex;


}
.button-barleft{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 60px;
    gap: 5px;
}

.icone-1{
    display:flex

}
.fa-solid.fa-microphone{
    display: flex;
    height: 30px;
    width: 30px;
}
.icone-2{
    
}
.icone-3{
    
}
.icone-4{
    
}
.icone-5{
    
}
.icone-6{
    
}
.icone-7{
    
}
.icone-8{
    
}
.icone-9{
    
}
.icone-10{
    
}